body {
    font-family: 'Roboto', sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #592daf;
    font-size: 1.5rem;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    border: 3px solid #592daf;
    background-color: #00000021;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #3b1e72;
}