@import url("components/telaRifa.css");
@import url("components/mediaQuery.css");


/* Reset de margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    --sb-track-color: #151515;
    --sb-thumb-color: #52299e;
    --sb-size: 5px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* Estilos do header e banner */
header {
    position: relative;
    text-align: center;
}

.selected {
    background-color: white;
    color: black;
    font-weight: 700;
}

/* Footer */
.site-footer {
    background-color: #1b1b1b;
    padding: 15px 20px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid;
}

.site-footer p {
    margin: 5px 0;
}

.site-footer .heart {
    color: #52299e;
    font-size: 1.2rem;
}